<!DOCTYPE html>
<html lang ="ja">
  <head>
  <meta charset ="UTF-8">
  <link rel="stylesheet" href="homes.scss"/>
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
  </head>

<body>
<h1>ようこそ Bookersへ!</h1>
<div class="Bookers"><span class="font">Bookers</spna>では、さまざまな書籍に関するあなたの意見や</div>
<div class ="Bookers">印象を共有し交換することができます</div>

<!--Startリンクの実装-->
<span class="link">
  <%= link_to "start",books_path %>
</spam>
</body>
</html>
