* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,.font{
  font-family: "Hiragino Sans","Hiragino Sans";
}

h1{
  margin:20px;
  margin-bottom:10px;
  font-size:25px;
}

.Bookers{
  margin:40px;
  margin-top:20px;
  margin-bottom:20px;
  font-size:13px;
}

.link{
  margin:40px;
  margin-top:20px;
  margin-bottom:20px;
  font-size:13px;
}